.headservice {
	text-align: center;
}
.headservice h1{
  font-size: 70px;
  font-weight: 500;
  line-height: 1.54;
  letter-spacing: 4.59px;
  text-align: center;
  color: #000d31;
}
.headservice p{
      font-size: 22px;
    padding: 0px 180px;
    font-weight: 500;
    text-align: center;
    color: #000d31;
}
.headservice a{
      border-radius: 63px;
    background-color: #000923;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: white;
    padding: 10px 40px;
}
.servicesbx{
	padding:50px 0; 
	 opacity: 0.78;
  border: solid 1px #000d31;
  background-color: #000d31;

}
.servicesbx .box{
   box-shadow: 0 13px 18px 0 #262626;
    background: white;
    padding: 40px 80px;
    text-align: center;
    margin: 30px 0;
}
.servicesbx .boxside{
	 box-shadow: 0 13px 18px 0 #262626;
    background: white;
    padding: 40px 25px;
    text-align: center;
    margin: 30px 0;
}
.servicesbx .box h2,.servicesbx .boxside h2{
         font-size: 35px;
    font-weight: 500;
    letter-spacing: 4.38px;
    text-align: center;
    color: #000d31;
    border-bottom: solid 1px #000d31;
    margin-bottom: 30px;

}
.servicesbx .box p{
	font-size: 20px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 3.12px;
    text-align: center;
    color: #000d31;
    padding: 0px 15px;
}
.servicesbx .boxside p{
	font-size: 20px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 3.12px;
    text-align: center;
    color: #000d31;
    padding: 0px 40px;
}
.servicesbx .topup{
	margin-top: -345px;
}
.moreservice{
 padding: 100px 0;
 text-align: left;
}
.moreservice h3{
	width: fit-content;
	    font-size: 40px;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: 4.09px;
    text-align: left;
    color: #000d31;
    border-bottom: solid 1px #000d31;
}
.moreservice .contnt{
	padding-top: 100px;
  background: url(../images/img/service.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.moreservice .mservice{
	padding: 45px 0;
}
.moreservice .mservice h2{
	    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4.53px;
    color: #000d31;
    margin-bottom: 30px;
}
.moreservice .mservice p{
    font-size: 20px;
    padding-left: 30px;
    font-weight: 500;
    line-height: 1.49;
    letter-spacing: 3.29px;
    color: #000d31;
}


@media (max-width: 991px) and (min-width: 768px) {

  .headservice h1 {
    font-size: 50px;
	}
	.headservice p {
    font-size: 16px;
    padding: 0px 120px;
	}
	.headservice a {
    font-size: 20px;
	}
	.servicesbx .box {
    padding: 40px 25px;
	}
	.servicesbx .box h2, .servicesbx .boxside h2 {
    font-size: 25px;
	}
	.servicesbx .box p {
    font-size: 16px;
	}
	.servicesbx .boxside p {
    font-size: 16px;
    padding: 0px 0px;
	}
	.moreservice h3 {
    font-size: 35px;
	}
	.moreservice .mservice h2 {
    font-size: 25px;
    margin: 0;
	}
	.moreservice .mservice p {
    font-size: 12px;
	}
  .moreservice .mservice {
    padding: 25px 0;
    }
}
@media (max-width: 767px) and (min-width: 400px) {
   .headservice h1 {
    font-size: 30px;
	}
	.headservice p {
    font-size: 14px;
    padding: 0px 20px;
	}
	.headservice a {
    font-size: 18px;
	}
	.servicesbx .box,.servicesbx .boxside {
    padding: 40px 40px;
	}
	.servicesbx .box h2, .servicesbx .boxside h2 {
    font-size: 25px;
	}
	.servicesbx .box p, .servicesbx .boxside p {
    font-size: 16px;
     padding: 0px 15px;
	}
	.servicesbx .topup {
     margin-top: 0px; 
	}
	.moreservice h3 {
    font-size: 25px;
	}
	.moreservice .mservice h2 {
    font-size: 22px;
    letter-spacing: 0.53px;
    margin: 0;
    }
	.moreservice .mservice p {
    font-size: 12px;
     letter-spacing: 0.53px;
    }
	
	.moreservice .contnt {
    padding-top: 100px;
    }
}

@media (max-width: 400px){
    .headservice h1 {
    font-size: 25px;
	}
	.headservice p {
    font-size: 12px;
    padding: 0px 20px;
	}
	.headservice a {
    font-size: 16px;
	}
	.servicesbx .box,.servicesbx .boxside {
        padding: 35px 25px;
	}
	.servicesbx .box h2, .servicesbx .boxside h2 {
    font-size: 22px;
	}
	.servicesbx .box p, .servicesbx .boxside p {
    font-size: 14px;
     padding: 0px 15px;
	}
	.servicesbx .topup {
     margin-top: 0px; 
	}
	.moreservice h3 {
    font-size: 22px;
	}
	.moreservice .mservice h2 {
    font-size: 20px;
    letter-spacing: 0.53px;
    margin: 0;
    }
  .moreservice .mservice p {
    font-size: 10px;
     letter-spacing: 0.53px;
    }
  
  .moreservice .contnt {
    padding-top: 100px;
    }
}