.all h1{
  font-size: 70px;
    color: #000c2d;
    font-weight: 900;
}

/*about page style*/
/*end about page style */


/*service page style*/
/*end service page style */


/*portfolio page style*/
/*end portfolio page style */

/*blog page style*/
/*end blog page style */

/*contact page style*/
/*end contact page style */

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .all h1{
  font-size: 50px;
    color: #000c2d;
    font-weight: 900;
}

}