.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/img/bg2.jpg); 
}
.all h1{
    font-size: 70px;
    font-weight: 500;
    line-height: 1.54;
    letter-spacing: 4.59px;
    color: #000d31;
}

/*starting portfolio page style*/
#gallery-section{
  padding:0;
  margin-top: -100px;
}
.simg{
 padding: 30px 40px;
 min-height: 400px;
}
.bimg{
padding: 0px 40px;
 min-height: 400px;
}
.visit-btn1{
  position: absolute;
    bottom: 63px;
    left: 93px;
    padding: 0px 30px;
    border-radius: 22px;
    border: solid 0.5px #000e35;
    background-color: #000c2d;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.48;
    letter-spacing: 2.07px;
    text-align: left;
    color: white;
}
.visit-btn1:focus{
  outline: none;
  background-color: white ;
   color: #000c2d;

}
.visit-btn1:hover{
  color: white;
  background-color:  #000c2d ;
}
.main-head{
  font-size: 35px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
   text-align: center;
}
.textcat-head{
      font-size: 30px;
    font-weight: 500;
    line-height: 1.8;
    text-align: left;
    color: #000d31;
    text-decoration: underline;
}

.Rectangle,.Rectangle1 {
  text-align: center;
}

.Rectangle img, .Rectangle1 img{
  height: 400px;
}
.cat-slider{
  padding-bottom: 100px;
}
.Name-of-Project 
{
  font-size: 25px;
  font-weight: 500;
  line-height: 1.18;
  color: #000d31;
  padding-top: 10px;
}

.a-liitle-about-it 
{
  opacity: 0.60;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: 2px;
  color: #000d31;
}
/*end portfolio page style */

/*blog page style*/
.blogbox{
text-align: center;
}
.blogbox img{
   height: 300px;
}
.blogbox .tl{
  font-size: 25px;
  font-weight: 500;
  color: #000d31;
  padding-top: 10px;
}
.blogbox .dt{
   opacity: 0.60;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.24;
  color: #000d31;
}



.blog_section{
  margin-top: 7%;
  margin-bottom: 7%;
}
.blog_section  .blog-inner{
  box-shadow: 0 3px 6px 0 rgba(0, 13, 49, 0.31);
  border: solid 1px #707070;
}

#blog{
  
  /*padding-right: 200px;
  
  padding-left: 200px;*/
  width: 100%;


}
#blog img {
  width: 100%;
  height: 410px;
}
#blog a{
  margin: 20px;
  float: right;
  border-radius: 25px;
  border: solid 1px #000c2d;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 2.13px;
  text-align: left;
  color: #000d31;
}

#blog p{
  padding: 1px;
  font-family: poppins;
}
#blog h1{
  font-family: Poppins;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  
  letter-spacing: 1px;
  text-align: left;
  color: #000d31
}
#blog .date{
  float: right; 
  padding-right: 50px ;
  
  opacity: 0.62;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 1px;
  text-align: left;
  color: #000d31;
  
}
#blog .authore{

  opacity: 0.71;
  font-family: Poppins;
  
  font-weight: 600px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 2.55px;
  text-align: left;
  color: #000d31
}
#blog .img-area img{
  border-top-right-radius: 30px;
 box-shadow: 5px 0 3px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px rgba(0, 14, 53, 0.3);
}
.page_link  ul li {
   width: 50px;
    height: 50px;
    font-family: Poppins;
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    display: flex;
    font-style: normal;
    border: solid 1px #000e35;
    letter-spacing: 2.64px;
    text-align: center;
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
}
.page_link  ul li:first-child{
  border: solid 1px #000e35;
  background-color: #000e35;
}
.page_link  ul li:first-child a{
  color: #fff;
    font-size: 22px;
}

#link_1
 {
   width: 60px;
     font-size: 20px;
    color: #000d31;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
 
  letter-spacing: 2.64px;
  text-align: center;
  
}
/*
/*end blog page style */







/*contact page style*/
.contact{
  padding-bottom: 100px;
}
.contleft{
  display: flex;
  align-items: center;
   padding: 20px 30px;
}
.cntbox{
  padding: 20px 10px;
}
.cnthead 
{
  opacity: 0.55;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2.08px;
  text-align: left;
  color: #000923;
}
.cnttext 
{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding: 10px 0;
}

.Rectangle-215 
{
  height: 100%;
  box-shadow: 0 -10px 6px 0 rgba(0, 22, 83, 0.57);
  background-color: #000e35;
  padding: 30px;
}
.contright{
  padding: 0 30px;
}
.Say-directly 
{  
  opacity: 0.85;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.89;
  letter-spacing: 6.95px;
  text-align: left;
  color: #eeeeee;
  margin-bottom: 30px;
}
option{
  background-color: white;
  color: black
}

.cntinput
{
  width: 100%;
  height: 45px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.31);
  font-weight: 400;
  letter-spacing: 1.06px;
  padding: 10px;
  color: white;
  border: none;
}
.cntinput:focus,.Textarea:focus {
  outline: none;
  border: 1px solid white;
}

.Textarea 
{
   width: 100%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.31);
  font-weight: 400;
  letter-spacing: 1.06px;
  padding: 10px;
  color: white;
  border: none;
}

.Submit 
{
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  letter-spacing: 2.06px;
  text-align: center;
  color: #000d31;
  border: none;
}
.Submit:hover{

  background-color: #000d31;
  color: white;
  border: 1px solid white;
}

@media (max-width: 991px) {
.cnthead 
{
  font-size: 16px;
}
.cnttext 
{
  font-size: 18px;
  }
  .Say-directly 
{  
  font-size: 30px;
}

.cntinput,.Textarea
{
  width: 100%;
  height: 45px;
  font-size: 18px;
}
.Submit 
{
  width: 100%;
  height: 50px;
  font-size: 20px;
}

}
@media (max-width: 767px) {
  #blog a{
    position: absolute;

  }
}
@media (max-width: 420px) {
    .cnthead 
{
  font-size: 16px;
}
.cnttext 
{
  font-size: 16px;
  }
  .Say-directly 
{  
  font-size: 25px;
}

.cntinput,.Textarea
{
  width: 100%;
  height: 45px;
  font-size: 16px;
}
.Submit 
{
  width: 100%;
  height: 50px;
  font-size: 18px;
}
}
@media (max-width: 400px) {

#_detail{
  padding-left: 10px;
  display: none;
  border:1px solid red; 
  
}


}





/*end contact page style */

@media (max-width: 991px) {
  #blog{
  padding:10px;
}
#blog img{
  width: 100%;
  height: 370px;

}
.blog_section  .blog-inner{
  box-shadow: 0 3px 6px 0 rgba(0, 13, 49, 0.31);
  border: solid 1px #707070;
  border-top-right-radius: 30px;
  
}
#blog .detial{
  padding-left: 10px;
  display: none;
}
#blog h1{
  padding:10px;
  font-size:28px;
}

}

@media (max-width: 767px) {
  .all h1{
  font-size: 50px;
    color: #000c2d;
    font-weight: 900;
}
#blog{
 margin: 0px;
 line-height: 1px
}

#blog .authore{
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 10px 
  

}
#blog .date{
  margin-right: -30px;
  font-size:15px; 
}
#blog .date .time{
  display: none;

}
#blog img{
 
width: 100%;
height: 230px;

}
#pagging{
  padding: 20px;
}
#detail{
  padding-left: 10px;
  display: none;
  border:1px solid red;

}
#blog h1{
 
  padding:10px;
  position: relative;
  font-size:20px;
  letter-spacing: 1px;
  text-align: center;

}

#blog a{
  
  float: left;
 border-radius: 25px;
 position:relative;

  border: solid 1px #000c2d;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 2.13px;
  text-align: center;
  color: #000d31

}
#blog_slider .block-slider_1 img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

}
.blog_section  .blog-inner{
  box-shadow: 0 3px 6px 0 rgba(0, 13, 49, 0.31);
  border: solid 1px #707070;
  border-top-right-radius: 30px;
  padding: 0px;
  margin: 0px;
  
}
.blog_section  .blog-inner .text-area{
  padding-top: 0px;
  margin: 0px;
}

}