.all h1{
  font-size: 70px;
    color: #000c2d;
    font-weight: 400;
}

/*starting portfolio page style*/
.Rectangle-168 
{
  width: 645px;
  height: 895px;
}

.Rectangle-169 
{
  width: 597px;
  height: 829px;
}

.Name-of-Project 
{
  width: 362px;
  height: 56px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 2.92px;
  text-align: center;
  color: #000d31;
  padding-top: 10px;
}

.a-liitle-about-it 
{
  width: 250px;
  height: 40px;
  opacity: 0.49;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: 2px;
  text-align: center;
  color: #000d31;
}
/*end portfolio page style */

/*blog page style*/
/*.blog{
  background-color: white;
  margin-top: -30px;
  border:1px solid black;
}


.content{
  width: 80%;
 
  margin: 30px auto;
  height: 100%;
  
  
}
.content .main-content{
  width: 100%;
  float: left;
 

}

.content .main-content.single  .post-title{

  text-align: center;
  margin-bottom: 40px;
  

}
.content .main-content.single .post-content{
  
  margin: 5px;
  height: 600px;

}
.content .main-content .recent-post-title{
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}

.content .main-content .post{
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background:white;
  position: relative; 
}
.content .popular .post{
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding-top:10px; 

}

.content .main-content .post .post-image{
  width: 40%;
  height: 100%;
  float: left;
  border-top-right-radius: 10px;

}
.btn{
  padding: .5rem 1rem;
  background:black;
  color: white;
  border:1px solid transparent;
  border-radius: .25rem;
}
.btn:hover{
  color: white !important;
  background:#005255;
}

.content .main-content .post .post-preview{
  width: 60%;
  padding: 10px;
  float: right;
}
.content .main-content .post .read-more{
  position: absolute;
  bottom: 10px;
  right: 10px;
  
}
.content .main-content .post .read-more:hover{
   
  
  transition: .25s;
}
@media only screen and (max-width: 934px){
    .content{
      width:100%;
      height: 1500px;
    }
    .content .main-content .post
    {
      width: 100%;

    }
    .content .main-content
    {
      width: 100%;
      padding: 10px;
    }
    .content .main-content{
      width: 100%;


    }
    .content .main-content .post .post-image{
      width: 100%;
      height: 100%;
    }
    .content .main-content.single  .post-title{
      width: 100%;
      height: 100%;
    }
    .content .main-content.single .post-content{
      width: 100%;
      height: 400px;
}
  .content .main-content .post .post-preview{
    width: 100%;
  }
}
.new{
  width: 100%;
  height: 1940px;
  margin-top: 40px;
}
#row{
  border:1px solid black;
  padding: 15px;
  margin-top: 10px;
}
.new .row .col-6 img{
 width: 80%;
 height: 300px;

 border-top-right-radius: 40px;
}*/
.aarti{
  margin-top: 7%;
  margin-bottom: 7%;
}
.aarti  .blog-inner{
   border:1px solid black;
}

#blog{
  padding: 12px;
 
  width: 100%;

}
#blog img {
  width: 100%;
  height: 370px;
}
#blog a{
  border-radius: 25px;
  border: solid 1px #000c2d;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 2.13px;
  text-align: left;
  color: #000d31
}


}
#blog p{
  padding: 1px;
  font-family: poppins;
}
#blog h1{
  font-family: Poppins;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: 3.15px;
  text-align: left;
  color: #000d31
}
#blog .date{
  float: right; 
  padding-right: 50px ;
  
  opacity: 0.62;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 1.45px;
  text-align: left;
  color: #000d31;
  
}
#blog .authore{

  opacity: 0.71;
  font-family: Poppins;
  
  font-weight: 600px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 2.55px;
  text-align: left;
  color: #000d31
}
#blog .img-area img{
  border-top-right-radius: 30px;
 box-shadow: 5px 0 3px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px rgba(0, 14, 53, 0.3);
}
/*end blog page style */







/*contact page style*/

.Email-us 
{
  width: 144px;
  height: 10px;
  opacity: 0.55;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.59;
  letter-spacing: 4.08px;
  text-align: left;
  color: #000923;
  padding-left: 24px;
}
.webnoditeswebnditescom 
{
  width: 502px;
  height: 25px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding-left: 24px;
}

.Call-us 
{
  width: 125px;
  height: 10px;
  opacity: 0.55;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 4.08px;
  text-align: left;
  color: #000923;
  padding-left: 24px;
  padding-top: 50px;
}

.Contact-no 
{
  width: 292px;
  height: 25px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding-left: 24px;
  padding-top: 17.5px;
}

.Social 
{
  width: 104px;
  height: 80px;
  opacity: 0.55;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 4.08px;
  text-align: left;
  color: #000923;
  padding-left: 24px;
  padding-top: 50px;
}

.Facebook 
{
  width: 167px;
  height: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding-left: 24px;
  padding-top: 17.5px;
}

.Instagram 
{
  width: 181px;
  height: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding-left: 24px;
  padding-top: 17.5px;
}

.Twitter 
{
  width: 119px;
  height: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding-left: 24px;
  padding-top: 17.5px;
}

.Linkedin 
{
  width: 143px;
  height: 50px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding-left: 24px;
  padding-top: 17.5px;
}

.Rectangle-215 
{
  width: 620px;
  height: 690px;
  box-shadow: 0 -10px 6px 0 rgba(0, 22, 83, 0.57);
  background-color: #000e35;
  padding-left: 34px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.Say-directly 
{  
  width: 580px;
  height: 64px;
  opacity: 0.85;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 6.95px;
  text-align: left;
  color: #eeeeee;
  padding-top: 30px;
}

.Rectangle-195 
{
  width: 550px;
  height: 40px;
  opacity: 0.31;
  background-color: var(--white);
  margin-top: 50px;
}

.Full-Name 
{
  width:550px;
  height: 40px;
  opacity: 0.25;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 7.06px;
  text-align: left;
  font-color: #eeeeee;
}

.Rectangle-196 
{
  width: 550px;
  height: 40px;
  opacity: 0.31;
  background-color: var(--white);
  margin-top: 30px;
}

.Rectangle-197 
{
  width: 400px;
  height: 40px;
  opacity: 0.31;
  background-color: var(--white);
}

.Rectangle-198 
{
  width: 132px;
  height: 40px;
  opacity: 0.31;
  background-color: var(--white);
}

.Phone-no 
{
  width: 400px;
  height: 40px;
  opacity: 0.25;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 7.06px;
  text-align: left;
  color: #eeeeee;
}

.Rectangle-216 
{
  width: 550px;
  height: 40px;
  opacity: 0.31;
  background-color: var(--white);
}

.Rectangle-199 
{
  width: 550px;
  height: 160px;
  opacity: 0.31;
  background-color: var(--white);
}

.Textarea 
{
  width:550px;
  height: 160px;
  opacity: 0.25;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 7.06px;
  text-align: left;
  font-color: #eeeeee;
}

.Rectangle-200 
{
  width: 550px;
  height: 40px;
  opacity: 0.43;
  background-color: var(--white);
}

.Submit 
{
  width: 550px;
  height: 40px;
  opacity: 0.63;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 7.06px;
  text-align: center;
  color: #000;
}
/*end contact page style */

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .all h1{
  font-size: 50px;
    color: #000c2d;
    font-weight: 900;
}
#blog{

}

}